<div class="container my-5 student-single">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <a href="/" class="btn btn-primary">Back</a>
            <br>
            <br>
            <div class="card shadow">
                <div class="card-body">
                    
                    <img src="/gallary/<%= singleId.photo %> " alt="">
                    <h1><%= singleId.name %> </h1>
                    <h5><%= singleId.email %></h5>
                    <h5><%= singleId.phone %></h5>
                    <h5>ioptrerujtoierhjtgoi</h5>
                    
                  
                  
                </div>
            </div>
        </div>
    </div>
</div>